#login
  - flash.each do |name, msg|
    %p=msg
  = form_tag(sessions_path, method: 'post')
  .step
    %span
      = label_tag(:name, "Username")
      = text_field_tag(:name, nil, placeholder: 'Username')
    %span
      = label_tag(:password, "Password")
      = password_field_tag(:password, nil, placeholder: 'Password')
    = submit_tag("Login", id: 'login-btn', class: 'btn')
