- if @post.parent_post&.id
  %h1="New Child Post for Post #{@post.parent_post.title}"
- else
  %h1 New Post
- if @post.errors.any?
  - @post.errors.full_messages.each do |msg|
    %p=msg
= form_tag(admin_posts_path, method: 'post')
= hidden_field_tag(:post_id, @post.parent_post&.id)
.form-control
  = label_tag(:title, "Title", for: 'edit-entry-title')
  = text_field_tag(:title, nil, id: 'edit-entry-title')
.form-control
  = label_tag(:content, "Content", for: 'edit-entry-content')
  = text_area_tag(:content, nil, id: 'edit-entry-content' )
.form-control
  = label_tag(:tags, "Tags", for: 'edit-entry-tags')
  = text_field_tag(:tags, nil, id: 'edit-entry-tags' )
= submit_tag("Save", class: 'btn')
