= link_to 'Review All', '/admin/cards/review_all', method: 'get', class: 'btn'
= link_to 'New Card', new_admin_card_path, method: 'get', class: 'btn'
.cards{data: {controller: 'search'}}
  %h2 Cards
  %label
    Filter by tag
    %input{type: 'text', data: { target: 'search.tag', action: 'keyup->search#filter' }}
  - if @cards.empty?
    %p No cards yet!
  %table
    %tbody
      - @cards.each_with_index do |card, index|
        %tr{data: { target: 'search.record', tags: card.tags.map(&:name).join(', ')}}
          %td=link_to card.front, edit_admin_card_path(id: card.id)
          - if card.next_due_date.to_datetime.today?
            %td{class: 'due-day'}="(Due today)"
          - elsif card.next_due_date.to_date == Date.tomorrow
            %td{class: 'due-day'}="(Due tomorrow)"
          - else
            %td{class: 'due-day'}="(Due #{card.next_due_date.strftime("%B %d, %Y")})"
          %td=card.tags.map(&:name).join(', ')
  %div.tags
    %h3 Review by tags
    %ul
      - @tags.each do |tag|
        %li= link_to tag.name, "/admin/cards/review_all/#{tag.name}", method: 'get', class: 'btn'