!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Papyrus
    = csrf_meta_tags
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #branding
      #logo
        %a{href: root_path}
          %span Papyrus
      - if @current_user.present?
        = link_to 'Logout', logout_path, id: 'logout-btn'
    #container
      #content
        = yield