!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Papyrus
    = csrf_meta_tags
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #branding
      #logo
        %a{href: admin_posts_path}
          %span Papyrus
      %ul#navigation
        - if @current_user.present?
          %li= link_to 'Home', admin_posts_path, class: 'admin_index'
          %li= link_to 'Cards', admin_cards_path, class: 'admin_cards'
          %li= link_to 'Statistics', admin_statistics_path, class: 'admin_statistics'
      - if @current_user.present?
        = link_to 'Logout', logout_path, id: 'logout-btn'
    - if @current_user.present?
      = link_to 'View Public Site', root_path, id: 'view-public-site'
    #container
      #content
        = yield