!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Papyrus
    = csrf_meta_tags
    = stylesheet_link_tag 'brand', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ id: controller.action_name }
    #branding
      #logo
        %a{href: root_path}
          %span A.LIN
      - if @current_user.present?
        = link_to 'Logout', logout_path, id: 'logout-btn'
    %ul#navigation
      %li= link_to 'Home', root_path, class: 'index'
      %li= link_to 'About', about_path, class: 'about'
      %li= link_to 'Series', series_path, class: 'series'
      %li= link_to 'Book Notes', book_notes_path, class: 'book_notes'
      %li= link_to 'Today I Learned', til_path, class: 'til'
    #container
      #content
        = yield